<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91041526680-0o734ucslt81ttfoiqgtt6rhi6csbc20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91041526680-0o734ucslt81ttfoiqgtt6rhi6csbc20</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>91041526680-lu036132hpuq6f9lbqtr9c2e9gagg7ha.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXlKcMl-mF1diQaICcZEV4oyPtbj6ev4M</string>
	<key>GCM_SENDER_ID</key>
	<string>91041526680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jknews</string>
	<key>PROJECT_ID</key>
	<string>jknews-37b14</string>
	<key>STORAGE_BUCKET</key>
	<string>jknews-37b14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91041526680:ios:50c9a505fca60f001cb1ed</string>
</dict>
</plist>